$color-primary: #10334a;

.card {
  max-width: 700px;
  width: 75%;
  height: 80%;
  padding: 1.5rem;
  border-radius: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.5);

  @media (max-width: 480px) {
    width: 85%;
    padding: 1rem;
  }

  & > * {
    text-align: center;
    color: #333;
  }

  &__title {
    color: $color-primary;
    letter-spacing: 1px;
    font-size: 2.2rem;

    @media (max-width: 480px) {
      font-size: 1.75rem;
    }
  }

  &__intro {
    @media (max-width: 480px) {
      font-size: 1.3rem;
    }
  }

  &__btn {
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    color: $color-primary;
    background-color: transparent;
    font-size: 1.3rem;
    padding: 0.5rem;
    border: 1px solid $color-primary;
    border-radius: 30px;
    outline: none;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      background-color: $color-primary;
      transform: scale(1.04);
      box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.3);
    }

    &:active {
      transform: scale(1.02);
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    }
  }
}
