.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    color: #fff;
    text-decoration: none;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    border-radius: 30px;
    background: transparent;
    transition: all 0.3s;

    &:hover {
      color: #176d5c;
      background-color: #fff;
    }
  }
}
